*.vo
*.vok
*.vos
*.vio
*.glob
*.v.d
.*.aux
.*.vo.aux
.coq-native/
*.v.crashcoqide
html/

package/
package.tgz

.lia.cache
.lra.cache
.nia.cache
.nra.cache
.coqdeps.d
makefile
Makefile
makefile.bak
Makefile.bak
Makefile.conf
